body {
  text-align: center;
  margin-top: 70px;
}
.search-city {
  padding: 10px 30px;
  padding-left: 10px;
  font-size: larger;
  border-radius: 50px;
  border: 2px solid grey;
  background-color: transparent;
}
.submit-button {
  padding: 10px;
  font-size: large;
  margin-left: 9px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: #9c668b;
  color: white;
  font-weight: 500;
}
.submit-button:hover {
  background-color: white;
  color: #9c668b;
  border: 1.9px solid #9c668b;
  cursor: pointer;
}
.search-city:focus {
  outline: 1px solid #9c668b;
}
.weather-forecast {
  margin-top: 40px;
  border: 1px solid black;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  padding-bottom: 5px;
  text-align: left;
}
